<nav class="navbar navbar-dark bg-dark">
    <div>
        <img src="assets/zappy.jpg" width="40" height="40" class=" align-top" alt="">
    </div>
    <div class="">
        <h1>Zappy</h1>
    </div>
</nav>

<blockquote class="blockquote text-center">
    <p class="mb-0">Zappy is a simple tool listens to specific slack workspace and based on a specific
        message, retrieves tweets from a twitter account.
        If you can not see any tweets then nobody mentioned the word "go" on our slack workspace.
    </p>
</blockquote>

<app-tweets-list></app-tweets-list>